body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

.try {
    .spinner {
        width: 40px;
        height: 4 0px;
        background-color: #3z3;
        margin: 100px auto;
           transform-origin: center center;
    }
}